export STORAGE_BASE_DIR='/var/vmail'
export WEB_SERVER='NGINX'
export BACKEND_ORIG='MYSQL'
export BACKEND='MYSQL'
export VMAIL_DB_BIND_PASSWD=''
export VMAIL_DB_ADMIN_PASSWD=''
export MYSQL_ROOT_PASSWD=''
export FIRST_DOMAIN=''
export DOMAIN_ADMIN_PASSWD_PLAIN=''
export USE_IREDADMIN='YES'
export USE_ROUNDCUBE='YES'
export USE_SOGO='YES'
export USE_AWSTATS='YES'
export AMAVISD_DB_PASSWD=''
export IREDADMIN_DB_PASSWD=''
export RCM_DB_PASSWD=''
export SOGO_DB_PASSWD=''
export SOGO_SIEVE_MASTER_PASSWD=''
export IREDAPD_DB_PASSWD=''
#EOF

MAILDIR_HASHED=True
MAILDIR_PREPEND_DOMAIN=True
MAILDIR_APPEND_TIMESTAMP=False

LETSENCRYPT_SUBDOMAINS=mail webmail
LETSENCRYPT_EMAIL=
